# --- NODE / NEXT.JS (Frontend) ---
node_modules/
.next/
out/
build/
.env*.local
.vercel
*.tsbuildinfo

# --- JAVA / MAVEN (Backend) ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

# --- IDEs (VS Code, IntelliJ, STS) ---
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- SISTEMA E LOGS ---
*.log
.DS_Store
Thumbs.db